.formh{
    text-align: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.formcon{
    width: 100vw;
    width: 100vw;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    padding-top: 10%;
}
.inputbody{
    resize: none;

    height: 30vh;
    width: 80vw;
    font-family: Eudoxus;
    margin-bottom: 5%;
    border: none; /* Add a 1px bottom border */
    outline: none; /* Remove the default outline on focus */
}

.butonform{
    width: 20vw;

}

.ef{
    width: 100%;
    margin: 0;
}
.email{
    font-family:Eudoxus;
    width: 40vw;

}
.c,.c:active,.c:focus{
    padding-top: 1%;
    border: none;
    outline: none; /* Remove the default outline on focus */

}
@media screen and (max-width:769px) {
.c{
    width: 79.2vw;
}
.formcon{
    padding-top: 20%;
    padding-bottom: 20%;
}
.butonform{
    width: 80vw;
}
}

.buttons{
    background-color: yellow;
    width: 50%;
    height: 40%;
}
.btn{
    background-color: antiquewhite;
    width: 100%;
    height: 40%;
}
.useClient {
    font-size: small;
    color: red;
  }